<component name="libraryTable">
  <library name="spring-beans-5.3.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-beans-5.3.6-sources.jar!/" />
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-beans-5.3.6-sources.jar!/" />
    </SOURCES>
  </library>
</component>